*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

html,body{
	margin:0;
	padding: 0;
}
@media (min-width:1025px){
.logo-burger{
	display: none;
}
main{
	margin-left: 30rem;
}

.navigation{
	width: 30rem;
	height: 100vh;
	padding-top: 3rem;
	position: fixed;
}

.navigation-link{
		padding-left: 3rem;
	text-decoration: none;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.125rem;
	font-weight: 500;
	display: block;
}

ul{
	list-style-type: none;
	padding-top: 6rem;
	padding-bottom: 18rem;
}

li{
	padding-bottom: 1.5rem;
}

.logo{
		padding-left: 3rem;
	font-family: "Playfair Display", serif;
	font-size: 2rem;
	font-weight: bold;
}

.insta{
	padding-bottom: 6rem;
	display:flex;
	align-items: left;
	padding-left: 6rem;
}

.insta-link{
	width: 18rem;
	text-decoration: none;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.9rem;
	font-weight: 500;
}

.copyright{
	display:flex;
	align-items: center;
	flex-direction: column;
	width: 18rem;
}

h3{
	text-orientation: center;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.75rem;
	font-weight: 400;	
} 
}
@media (max-width:1024px){

.menu-burger{
	padding-top: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.logo-burger{
	width: 90vh;
	padding-left: 3rem;
	font-family: "Playfair Display", serif;
	font-size: 2rem;
	font-weight: bold;
}

main{
	margin-left: 0;
}

.navigation{
display: none;	

}
.burger{ 
	width: 10vh;
}
.burger div{
width: 1.5rem;
height: 0.2rem;
background-color: black;
margin:0.3rem;
}
}