* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* The master code */
main {
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  min-width: 300px;
  height: 100vh;
  z-index: 999;
}

header button {
  display: none;
}

.name {
  color: black;
  text-decoration: none;
  margin-bottom: 5rem;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: bold;
}

nav ul {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3rem;
}

nav li {
  list-style: none;
}

nav li a {
  color: black;
  text-decoration: none;
}

.footer-desktop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  padding-top: 2rem;
  bottom: 0;
  background: white;
}

.footer-mobile {
  display: none;
}

.instagram {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.copyright {
  margin: 3rem 0 2rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.5;
}

.ProjectsWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-left: 420px;
}

.ProjectsHeader {
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

 h2 {  
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.ProjectsContent{
  position: relative;
  width: 85%;
  display:flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.Aangetast {
  width: 376px;
  position: relative;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.Aangetast img {
  height: 376px;
  width: 378px;
  transition: 0.5s;
}

.Aangetast :not(img,a){
  position: absolute;
  top: calc(50% - 1rem);
  z-index: 1;
  color: white;
  text-align: center;
  width: 376px;
  opacity: 0;
  transition: 0.5s;
}

.Aangetast:hover :not(img,a){
  opacity: 1;
}

.Aangetast img:hover {
  transform: scale(1.05);
  filter:blur(2px) brightness(50%);
}

.GetToKnowUs {
  position: relative;
  display: flex;
  justify-content:flex-end;
  margin-bottom: 3rem;
}
.GetToKnowUs2 {
  position: relative;
  width: 422px;
  display: flex;
  justify-content:flex-end;
}

.GetToKnowUs img {
  height: 264px;
  width: 422px;
  transition: 0.5s;
}

.GetToKnowUs2 :not(img,a){
  position: absolute;
  top: calc(50% - 1rem);
  z-index: 1;
  color: white;
  text-align: center;
  width: 422px;
  opacity: 0;
  transition: 0.5s;
}

.GetToKnowUs2:hover :not(img,a){
  opacity: 1;
}

.GetToKnowUs2 img:hover {
  transform: scale(1.05);
  filter:blur(2px) brightness(50%);
}

.HKU{
  position: relative;
  width: 251px;
  margin: 0 0 3 6rem;
}

.HKU img {
  height: 376px;
  width: 251px;
  transition: 0.5s
}

.HKU :not(img,a){
  position: absolute;
  top: calc(50% - 1rem);
  z-index: 1;
  color: white;
  text-align: center;
  width: 251px;
  opacity: 0;
  transition: 0.5s;
}

.HKU:hover :not(img,a){
  opacity: 1;
}

.HKU img:hover {
transform: scale(1.05);
filter:blur(2px) brightness(50%);
}

@media screen and (max-width: 1380px) {
  
.Aangetast {
  width: 257px;
}

.Aangetast :not(img,a){
  width: 257px;
}

.Aangetast img {
  height: 252px;
  width: 257px;
}

.GetToKnowUs2 {
  width: 289px;
}

.GetToKnowUs :not(img,a){
  width: 289px;
}

.GetToKnowUs img {
  height: 181px;
  width: 289px;
}

.HKU {
  width: 172px;
  margin: 0 0 0rem 3rem;
}

.HKU :not(img,a){
  width: 172px;
}

.HKU img {
  height: 257px;
  width: 172px;
}
}

/* The commands that execute from breakpoint + 951px */
@media screen and (min-width: 951px) {

header {
    position: fixed;
  }
}
/* The commands that execute from breakpoint - 950px */
@media screen and (max-width: 950px) {

main {
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 12vh;
  padding: 25px;
  -webkit-box-shadow: none;
}

header button {
  display: block;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  transform: scale(1.5);
  cursor: pointer;
  z-index: 999;
}

header .name {
  margin: 0;
  font-weight: bold;
  font-size: 1.7rem;
  z-index: 999;
}

nav {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: white;
  z-index: 900;
}

/* definition of our animation for nav items */
@keyframes animation {

from {
  transform: translateX(-100px);
  opacity: 0;
}
to {
  transform: translateX(0px);
  opacity: 1;
}
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

nav li {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  animation-name: animation; /* assign animation */
  animation-duration: 500ms;
}

nav li a {
  left: 100%;
  line-height: 5rem;
}

.ProjectsWrapper {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0;
  margin-left: 0;
}

.ProjectsHeader {
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  font-size: 1.25rem;
}

 h2 {  
  font-size: 1rem;
}

.ProjectsContent{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem; 
}

.Aangetast {
  width: 278px;
  margin-top: 2rem;
}

.Aangetast :not(img,a){
  width: 278px;
}

.Aangetast img {
  height: 272px;
  width: 278px;
}

.GetToKnowUs {
width: 313px;
}

.GetToKnowUs2 :not(img,a){
  width: 313px;
}

.GetToKnowUs img {
  height: 195px;
  width: 313px;
}

.HKU {
  margin: 0 ;
  width: 186px;
}

.HKU :not(img,a){
  width: 186px;
}

.HKU img {
  height: 278px;
  width: 186px;
}

.footer-desktop {
  display: none;
}

.footer-mobile {
    position: initial ;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0;
    bottom: 0;
    width: 100%;
}

.copyright-mobile {
  margin:3rem 0 2rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.5;
}
}

@media screen and (max-width: 530px) {

header {
  padding: 20px;
  height: 10vh;
  z-index: 999;
}

header button {
  width: 20px;
  height: 40px;
  transform: scale(1.2);
}

header .name {
  font-size: 1.25rem;
}

nav li {
  font-size: 0.9rem;
  font-weight: 500;
}

nav li a {
  line-height: 4rem;
}

h1 {
  font-size: 1rem;
}

 h2 {  
  font-size: 0.875rem;
}

.ProjectsWrapper {
  margin-top: 1.5rem;
}

.ProjectsHeader {
  height: 1rem;
}

.Aangetast {
  width: 219px;
}

.Aangetast :not(img,a){
  width: 219px;
}

.Aangetast img {
  height: 214px;
  width: 219px;
}

.GetToKnowUs {
  width: 247px;
}

.GetToKnowUs2 :not(img,a){
  width: 247px;
}

.GetToKnowUs img {
  height: 153px;
  width: 247px;
}

.HKU {
  width: 147px;
}

.HKU :not(img,a){
  width: 147px;
}

.HKU img {
  height: 219px;
  width: 147px;
}

.instagram {
  font-size: 0.7rem;

}

.footer-mobile {
  position: initial ;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  bottom: 0;
  width: 100%;
  background: white;
}

.instagram{
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  }

.copyright-mobile {
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  }
}
