* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* The master code */
main {
  display: flex;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  min-width: 300px;
  height: 100vh;
  z-index: 999;
  background-color: white;
   -webkit-box-shadow: 20px 5px 40px 40px white;
}

header button {
  display: none;
}

.name {
  color: black;
  text-decoration: none;
  margin-bottom: 5rem;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: bold;
}

nav ul {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 3rem;
}

nav li {
  list-style: none;
}

nav li a {
  color: black;
  text-decoration: none;
}

.footer-desktop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-items: center;
  position: absolute;
  padding-top: 2rem;
  bottom: 0;
  background: white;
}

.footer-mobile {
  display: none;
}

.instagram {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
}

.copyright {
  margin: 3rem 0 2rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.5;
}

.SoopXContrastrijkWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-left: 300px;
}

.SoopXContrastrijkHeader {
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 120px;

}

h1 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.swiper-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 300px);
}

.swiper-slide {
  margin-top: 2rem;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 500px);
  display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
}

.swiper-slide img {
  width: auto !important;
  height: 73vh;
}

.Images-mobile {
  display: none;
}

@media screen and (max-width: 1380px) {
 .swiper-slide img {
  width: auto !important;
  height: 65vh;
}
}  

/* The commands that execute from breakpoint + 951px */
@media screen and (min-width: 951px) {

header {
    position: fixed;
  }
}
/* The commands that execute from breakpoint - 950px */
@media screen and (max-width: 950px) {

main {
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 12vh;
  padding: 25px;
  -webkit-box-shadow: none;
}

header button {
  display: block;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  transform: scale(1.5);
  cursor: pointer;
  z-index: 999;
}

header .name {
  margin: 0;
  font-weight: bold;
  font-size: 1.7rem;
  z-index: 999;
}

nav {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: white;
  z-index: 900;
}

/* definition of our animation for nav items */
@keyframes animation {

from {
  transform: translateX(-100px);
  opacity: 0;
}
to {
  transform: translateX(0px);
  opacity: 1;
}
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

nav li {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  animation-name: animation; /* assign animation */
  animation-duration: 500ms;
}

nav li a {
  left: 100%;
  line-height: 5rem;
}

.SoopXContrastrijkWrapper {
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 0;
  margin-left: 0;
}

.SoopXContrastrijkHeader {
  height: 1.25rem;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  font-size: 1.25rem;
}

.swiper-container{
  height: 70vh;
  height: calc(var(--vh, 1vh) * 70);
  width: 100%;
  margin: 0;
}

.swiper-slide img {
  margin-top: 10vh;
  height: 45vh;
  height: calc(var(--vh, 1vh) * 45);

}

.Images-mobile{
  display: none;
}

.footer-desktop {
  display: none;
}

.footer-mobile {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.copyright-mobile {
  margin:3rem 0 2rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  text-align: center;
  line-height: 1.5;
}
}

@media screen and (max-width: 530px) {

header {
  padding: 20px;
  height: 10vh;
  z-index: 999;
}

header button {
  width: 20px;
  height: 40px;
  transform: scale(1.2);
}

header .name {
  font-size: 1.25rem;
}

nav li {
  font-size: 0.9rem;
  font-weight: 500;
}

nav li a {
  line-height: 4rem;
}

h1 {
  font-size: 1rem;
}

.SoopXContrastrijkWrapper {
  margin-top: 1.5rem;
}

.SoopXContrastrijkHeader {
  height: 1rem;
}

.swiper-container {
 display: none;
}

.Images-mobile {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.img2 img, .img3 img, .img4 img, .img5 img, .img6 img, .img7 img, .img9 img{
  width: 189px;
  height: 276px;
  margin-bottom: 3rem;
}

.img1 img, .img8 img {
  width: 283px;
  height: 250px;
  margin-bottom: 3rem;
}

.footer-mobile {
  position: initial ;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  bottom: 0;
  width: 100%;
  background: white;
  z-index: 1;
}

.instagram {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  }

.copyright-mobile {
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  }
}